<%# encoding:UTF-8
%><div<%= @id && %( id="#{@id}") %> class="<%= [ 'admonitionblock', (attr :name), role ].compact * ' ' %>">
	<ac:structured-macro
			ac:macro-id="7e12b5d1-34f8-4260-8879-2adbc22d7577"
			ac:schema-version="1"
			ac:name="note"><%
		if title? %>
		<ac:parameter ac:name="title"><%= title %></ac:parameter><%
		end %>
		<ac:rich-text-body>
<%= content.gsub(/^/, "\t\t\t") %>
		</ac:rich-text-body>
	</ac:structured-macro>
</div>
