<%# encoding:UTF-8
%><div<%= toc_id ? %( id="#{toc_id}") : '' %> class="<%= [ 'toc', toc_role ].compact * ' ' %>">
	<ac:structured-macro
		ac:macro-id="9d891244-230a-44b8-9100-8d711687e3cd"
		ac:schema-version="1"
		ac:name="toc"><%
		%w[ maxLevel minLevel include outline indent absoluteUrl exclude style type class printable separator ] \
					.filter { |param| @document.attr?("toc-#{param.downcase}") } \
					.each   { |param| %>
			<ac:parameter ac:name="<%=  param  %>"><%= @document.attr("toc-#{param.downcase}")  %></ac:parameter><%
		} %>
	</ac:structured-macro>
</div>
