<%# encoding:UTF-8
%><%
slevel = @level.zero? && @special ? 1 : @level
hlevel = slevel + 1
%><div class="section">
	<h<%= hlevel %>><%= slevel.zero? ? title : captioned_title %></h<%= hlevel %>>
<%= content.gsub(/^/, "\t") %>
</div> <!-- .section -->
